<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="argripper">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.034366 0.07913 0.10227"
        rpy="0 0 0" />
      <mass
        value="0.5466" />
      <inertia
        ixx="0.00019731"
        ixy="-9.8174E-06"
        ixz="-2.5976E-07"
        iyy="0.00087623"
        iyz="1.4998E-07"
        izz="0.00094338" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l_0">
    <inertial>
      <origin
        xyz="-0.05565 0.034191 0.0032778"
        rpy="0 0 0" />
      <mass
        value="0.060223" />
      <inertia
        ixx="3.8896E-05"
        ixy="2.2985E-07"
        ixz="6.1255E-07"
        iyy="1.4346E-05"
        iyz="-2.4221E-06"
        izz="3.8371E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/l_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/l_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_0"
    type="prismatic">
    <origin
      xyz="0.03373 -0.11053 0.11413"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="l_0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="r_0">
    <inertial>
      <origin
        xyz="-0.01192 0.034191 0.0032778"
        rpy="0 0 0" />
      <mass
        value="0.060223" />
      <inertia
        ixx="3.8896E-05"
        ixy="2.2985E-07"
        ixz="6.1255E-07"
        iyy="1.4346E-05"
        iyz="-2.4221E-06"
        izz="3.8371E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/r_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://argripper/meshes/r_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_0"
    type="prismatic">
    <origin
      xyz="0 -0.093877 0.11413"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="r_0" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>